#container{
    background: linear-gradient(rgba(14, 83, 233, 0.993),rgba(55, 112, 236, 0.87));
    color: white;
    border-radius: 6px;
    outline: none;
}
#para a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#para a:hover{
    color:rgb(0,0,0);
    text-decoration: none;
}



    /* footer section */
footer{
    display: block;
    text-align: center;
    background: #2e82d1;
}
footer a {
    padding: 3px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
footer a:hover{
    color:rgba(243, 1, 1, 0.801);
    text-decoration: none;
}